services:
  db:
    image: postgres:15-alpine
    container_name: wowbot-db
    environment:
      POSTGRES_USER: wowbot
      POSTGRES_PASSWORD: wowbot123
      POSTGRES_DB: wowbot
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U wowbot"]
      interval: 5s
      timeout: 5s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wowbot
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      ADMIN_CHAT_ID: ${ADMIN_CHAT_ID}
      DATABASE_URL: postgres://wowbot:wowbot123@db:5432/wowbot?sslmode=disable
      PAYMENT_CARD_NUMBER: ${PAYMENT_CARD_NUMBER}
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs:rw  # Логи на хосте
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  adminer:
    image: adminer:latest
    container_name: wowbot-adminer
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      ADMINER_DEFAULT_SERVER: db
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"

volumes:
  pgdata:
